.sample b{
    font-size: larger;
    text-decoration: underline;
}

.p1Main{
background-color:aquamarine;
height: 180px;
}
.q11{
    font-size: xx-large;
    font-weight: bolder;
    background-color: blue;
}
.wrapper{
background-color: aquamarine;
}
.q12{
    padding-top: 10px;
    background-color: darkgrey;
    height: 100px;
    
}
.p1Main p{
    background-color: aquamarine;
}

.q2{
    background-color: aquamarine;
}
.q2 h2{
    text-decoration: line-through;
}

.q2 h3{
    text-decoration: underline;
}
.q3{
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.q4 a:link{
    color:red;
}
.a4 a:visited{
    color: green;
}
.q5 table,.q5 table td, .q5 table th{
    border: 1px solid black;
}


.q6 table th{
    border: 1px solid green;
    background-color: green;
    color: white;

}
.q6 table,.q6 table td{
    border: 1px solid green;
} 
.q7 p{
    border-style: dashed;
    border-color: green;
}
.q8 #p1{
    border: 5px solid black;
    background-color: aquamarine;
}
.q8 #p1{
    border: 5px solid black;
    background-color: aquamarine;
}
.q8 #p2{
    border: 3px solid black;
    background-color: aquamarine;
}
.q8 #p3{
    border: 1px solid black;
    background-color: aquamarine;
}
.q8 #p4{
    background-color: aquamarine;
    height: 20px;
}